extends layout

block content
    h1= 'My Collection'

    p This section displays the user's board game collection and ratings.

    table
        each game in collection
            tr
            th= game.name
            th= 'Year: ' + game.year
            th= 'Plays: ' + game.plays
            th= 'Won: ' + game.won
            th= 'Rating: ' + game.rating

    a(href='/collection/add') Add a new game to your collection.
    