extends layout

block content
    h1= 'Log a game'
    p In this section the user can log games he/she has played.
    b Game name:
    input
    br
    br
    b Date:
    input(type='date')
    br
    br
    b Won?:
    input(type='checkbox')
    br
    br
    button Log a Game

    h1= 'Played Games:'
    table
        each play in plays
            tr
            th= play.game
            th= 'Date: ' + play.datePlayed
            th= 'Won?: ' + play.won
